<div class="conteiner" *ngIf="proyecto">
    <div class="row">
        <div>
            <form #f="ngForm"(ngSubmit)="onUpdate()" novalidate>
                <div class="form-group">
                    <label for="nombreP">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="proyecto.nombreP" name="nombreP" required>
                </div>
                <div class="form-group">
                    <label for="descripcionP">Descripción del proyecto</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="proyecto.descripcionP" name="descripcionP" required>
                </div>
                <div class="form-group">
                    <label for="year">Año de realización</label>
                    <input type="text" class="form-control" id="year" name="year" [(ngModel)]="proyecto.year" name="year" required>
                </div>
                <button class="btn btn-primary">
                    Editar proyecto
                </button>
            </form>
        </div>
    </div>
</div>
