<div class="row">
     <div class="container">
        <div class="logoAP">
            <a href=""><img src="../../../assets/logoAP.PNG" id="logoAP"></a>
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/facebook.png" id="facebook"></a>
            <a href=""><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href=""><img src="../../../assets/twt.png" id="twitter"></a>
            <button type="button" class="btn btn-outline-light">INGRESO</button>
        </div>
     </div>
</div>