<div class="row">
     <div class="container">
        <div class="logoAP">
            <a href=""><img src="../../../assets/logoAP.PNG" id="logoAP"></a>
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/gonza.smeriglio"><img src="../../../assets/facebook.png" id="facebook"></a>
            <a href="https://instagram.com/gonza_sme?igshid=NjZiMGI4OTY="><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://twitter.com/Gonzalo14198595?t=WhcOIhGBjqwrhxOA9M_3Wg&s=09"><img src="../../../assets/twt.png" id="twitter"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
     </div>
</div>